/*****************/
/*! Base Styles  */
/*****************/

/************/
/*! Layout  */
/************/

html {
  box-sizing: border-box;
}

*
, *:before
, *:after {
  box-sizing: inherit;
}

/**************/
/*!  Helpers  */
/**************/

/* Assistive Text */
.visuallyhidden {
  position: absolute;
  margin: -1px;
  padding: 0;
  height: 1px;
  width: 1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
  border: 0;
}

.visuallyhidden.focusable:active
, .visuallyhidden.focusable:focus {
  position: static;
  margin: 0;
  height: auto;
  width: auto;
  clip: auto;
  overflow: visible;
}


/*************/
/*! Content  */
/*************/

body {
  float: none;
  margin: 10em auto;
  padding-left: 2em;
  padding-right: 2em;
}

h1 {
  font-family: Raleway;
}

p {
  font-family: Roboto;
}